/*
 * Copyright (c) 2019 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 
/ {

        cap-gpio-out {
                compatible = "gpio-leds";
                cap-out {
                        gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
                        label = "cap-output";
                };
        };

		cap-gpio-in
		{
			compatible =  "gpio-keys";
			cap-in {
				gpios = <&gpiob 4 GPIO_ACTIVE_HIGH >;
				label = "cap-input";
				
		};


		}; 

};